<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="assets/images/Logo-donation.png" sizes="48x48" type="image/png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/Donates.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Create a donation</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="/" class="logo">
            <img src="assets/images/Logo-donation.png" alt="VitaLab Logo" width="36px" />
            <p>VitaLab</p>
        </a>
        <ul class="ulMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <span class="material-symbols-outlined hamburger">menu</span>
        <span class="material-symbols-outlined closeIcone">close</span>
    </nav>
    <!-- main -->
    <main class="create-donation">

        <div>
            <article class="right">
                <h3>Organize a Donation Campaign</h3>
                <p>Create a donation event, raise awareness, and inspire others to participate. Together, let's ensure a steady supply of blood for those in need.</p>
                <img src="assets/images/hand.png" alt="Create a Donation Campaign" width="300px" height="250px">

            </article>

            <article class="left">
                <h3>Organize a Donation Campaign</h3>
                <form action="/create" method="post">
                    <div>
                        <div class="group">
                            <label for="text">Date</label>
                            <input type="date" name="date" placeholder="Date">

                        </div>
                        <div class="group">
                            <label for="text">Location</label>
                            <input type="text" name="location" placeholder="Location">

                        </div>
                    </div>

                    <div class="group">
                        <label for="text">Description</label>
                        <textarea name="description" id="textarea" cols="30" rows="10" placeholder="Add Description here .."></textarea>

                    </div>
                    <input type="hidden" name="lab_employee_id">
                    <button type="submit" name="submit">Submit</button>
                </form>

            </article>

        </div>
    </main>

    <script src="js/nav.js"></script>
    <script src="js/profile.js"></script>


</body>

</html>