<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="icon" href="assets/images/Logo-donation.png" sizes="48x48" type="image/png" />
    <!-- Icons link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Styles link -->
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/main.css" />
</head>

<body>
    <!-- Navigation Bar -->
    <header>
        <nav>
            <a href="./home.ejs" class="logo">
                <img src="assets/images/Logo-donation.png" alt="VitaLab Logo" width="36px">
                <p>VitaLab</p>
            </a>
            <ul class="ulMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <span class="material-symbols-outlined hamburger">menu</span>
            <span class="material-symbols-outlined closeIcone">close</span>
        </nav>
    </header>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link rel="icon" href="/assets/images/Logo-donation.png" sizes="48x48" type="image/png">

        <!-- Icons link -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <!-- Styles link -->
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <!-- Contact Us -->
    <section class="contact">
        <article class="contact-welcome">
            <p>Contact Us</p>
            <strong>Explore <b>innovative research</b> and precise diagnostics with us</strong>
        </article>

        <article>
            <div>
                <div class="left">
                    <h3>Get in touch</h3>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms .</p>
                    <form action="/feed" method="post">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                        <p></p>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <p></p>
                        <label for="message">Message:<br></label>
                        <textarea id="message" name="message" rows="4" required></textarea>
                        <p></p>
                        <input type="submit" value="Submit">
                    </form>
                </div>

                <div class="right">
                    <h3>Expend Blood Donate Services Here !</h3>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</p>
                    <img src="assets/images/hurt2.jfif" alt="hurt" width="260px" height="160px">
                </div>
            </div>

            <div>
                <!-- <div>
                    <h3>Laboratory Location</h3>
                    <p><span class="material-symbols-outlined">location_on</span> VitaLab Laboratory, Chlef</p>
                    <p><span class="material-symbols-outlined">call</span> +213 27 72 70 17</p>
                    <p><span class="material-symbols-outlined">mail</span> <a href="vitalab.dz@gmail.com">vitalab.dz@gmail.com</a></p>
                    <p><span class="material-symbols-outlined">domain</span><a href="https://vitalab.dz.netlify.app/">https://vitalab.dz.netlify.app/</a></p>
                </div> -->
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.4814121100553!2d77.56295087352491!3d12.941017415551173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae158b11e34d2f%3A0x5f4adbdbab8bd80f!2sBMS%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1716311337891!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>

        </article>
    </section>

    </main>
    <footer>
        <div class="footer-nav">
            <a href="/" class="logo">
                <img src="assets/images/Logo-donation.PNG" alt="VitaLab Logo" width="36px" />
                <p>VitaLab</p>
            </a>
            <div class="social">
                <p>Our socials</p>
                <a href="#"><img src="assets/images/socials/icon-facebook.svg" alt="icon-facebook" /></a>
                <a href="#"><img src="assets/images/socials/icon-twitter.svg" alt="icon-twitter" /></a>
                <a href="#"><img src="assets/images/socials/icon-pinterest.svg" alt="icon-pinterest" /></a>
                <a href="#"><img src="assets/images/socials/icon-instagram.svg" alt="icon-instagram" /></a>
            </div>
        </div>

        <div class="end">
        </div>
        <hr />
        <p>© 2024 VitaLab. All rights reserved.</p>
    </footer>
</body>

</html>

<script src="js/nav.js"></script>