<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="icon" href="assets/images/Logo-donation.png" sizes="48x48" type="image/png">
    <!-- Icons link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Styles link -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="./home.ejs" class="logo">
            <img src="assets/images/Logo-donation.png" alt="BLOODCELL Logo" width="36px">
            <p>BLOODCELL</p>
        </a>
        <ul class="ulMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <span class="material-symbols-outlined hamburger">menu</span>
        <span class="material-symbols-outlined closeIcone">close</span>
    </nav>

    <!-- Our services -->
    <section>
        <article class="services-welcome">
            <p>Explore Our Offerings</p>
            <strong>Uncover <b>Our Premier</b> Services and Experience Excellence</strong>
        </article>

        <article class="services">

            <article class="odd">
                <div class="image"><img src="assets/images/Image 1.PNG" alt="Donate blood" width="575" height="400"></div>
                <div class="description">
                    <h3>01</h3>
                    <h4>Blood Donation</h4>
                    <p>Experience the seamless process of contributing to a noble cause. Your blood donation journey with BLOODCELL is not just impactful but also surrounded by care and professionalism.</p>
                    <button>Read More</button>
                </div>
            </article>

            <article>
                <div class="description2">
                    <h3>02</h3>
                    <h4>Health Check</h4>
                    <p>Our comprehensive health check services go beyond routine examinations. BLOODCELL ensures your well-being through accurate assessments, emphasizing your health as our top priority.</p>
                    <button>Read More</button>
                </div>
                <div class="image"><img src="assets/images/Image 2.PNG" alt="" width="575" height="400"></div>
            </article>

            <article class="odd">
                <div class="image"><img src="assets/images/Image 3.PNG" alt="" width="575" height="400"></div>
                <div class="description">
                    <h3>03</h3>
                    <h4>Blood Bank</h4>
                    <p>BLOODCELL's advanced blood bank facilities provide a secure and reliable source for life-saving blood. Join us in creating a healthier community through our state-of-the-art blood banking services.</p>
                    <button>Read More</button>
                </div>
            </article>

            <article>
                <div class="description2">
                    <h3>04</h3>
                    <h4>Emergency Medical Response</h4>
                    <p>Be assured of immediate medical assistance with BLOODCELL's emergency medical response services. Our trained professionals and well-equipped vehicles are ready to respond swiftly to medical emergencies, ensuring prompt care.</p>
                    <button>Read More</button>
                </div>
                <div class="image">
                    <img src="assets/images/emergency.jpg" alt="" width="575" height="400">
                </div>
            </article>

            <article class="odd">
                <div class="image">
                    <img src="assets/images/services5.avif" alt="" width="575" height="400">
                </div>
                <div class="description">
                    <h3>05</h3>
                    <h4>Community Wellness Workshops</h4>
                    <p>Join BLOODCELL's community wellness workshops to enhance your overall well-being. From nutrition and fitness to mental health, our workshops provide valuable information and practical tips for a healthier lifestyle.</p>
                    <button>Read More</button>
                </div>
            </article>
        </article>

    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-nav">
            <a href="./Home Page.html" class="logo">
                <img src="assets/images/Logo-donation.PNG" alt="BLOODCELL Logo" width="36px">
                <p>BLOODCELL</p>
            </a>
            <div class="social">
                <p>Our socials</p>
                <a href="#"><img src="assets/images/socials/icon-facebook.svg" alt="icon-facebook"></a>
                <a href="#"><img src="assets/images/socials/icon-twitter.svg" alt="icon-twitter"></a>
                <a href="#"><img src="assets/images/socials/icon-pinterest.svg" alt="icon-pinterest"></a>
                <a href="#"><img src="assets/images/socials/icon-instagram.svg" alt="icon-instagram"></a>
            </div>

        </div>

        <div class="end">

        </div>
        <hr>
        <p>© 2024 BLOODCELL. All rights reserved.</p>
    </footer>

    <script src="js/nav.js"></script>
</body>

</html>